.DS_Store
*.zip
*.csv
*.JSON
*.gz
*.tsv
*.parquet

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# Databricks local files
*.dbc
*.dbx
*.log

# IDEs
.idea/
.vscode/
data/*
data/
old-data/
data-imdb/
data-movielens/
